Repository hmcts/hmi-apim-infrastructures, pull requests merged in 2023-11, with the labels that each got.

#64 Fix build
  README.md
  charts/hmi-apim/Chart.yaml
  infrastructure/resources/policy-files/Video-Hearing/api-op-create-vh-policy.xml
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-64

#63 HMIS-1245 Add video hearing version 2 support
  infrastructure/resources/policy-files/Video-Hearing/api-op-add-participant-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-create-vh-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-edit-participant-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-retrieve-vh-by-id-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-update-vh-by-id-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-groupid-hearing-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-63

#66 HMIS-1316 Add new crime health check endpoint
  infrastructure/resources/policy-files/Crime/api-op-crime-health-policy.xml
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-66

#67 HMIS-1306 Fixing demo and ithc builds
  infrastructure/main.tf
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-67

#68 HMIS-1318 Update response code for VH clone endpoint
  infrastructure/resources/policy-files/policies.json
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-68

#70 Disable all tests
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/PostDirectListingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/PutDirectHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/DeleteHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/HearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/PutHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/people/PeopleTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/pip/PostPublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/reservations/GetReservationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/DeleteLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/PostLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/PutLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/schedules/PostScheduleTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/sessions/GetSessionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteParticipantTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetGroupIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsByUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchCancelVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostJohVideoHearingTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/cft/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/crime/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/internal/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/la/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/people/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/pip/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/vh/HealthCheckSmokeTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-70

#71 Removed MI not being used
  infrastructure/main.tf
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-71

#72 Re-enabled tests
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/PostDirectListingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/PutDirectHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/DeleteHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/HearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/PutHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/people/PeopleTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/pip/PostPublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/reservations/GetReservationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/DeleteLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/PostLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/PutLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/schedules/PostScheduleTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/sessions/GetSessionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteParticipantTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetGroupIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsByUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchCancelVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostJohVideoHearingTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/cft/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/crime/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/internal/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/la/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/people/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/pip/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/vh/HealthCheckSmokeTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-72

#73 Setup prod
  infrastructure/prod.tfvars
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-73

#75 Fix crime health check endpoint
  infrastructure/demo.tfvars
  infrastructure/dev.tfvars
  infrastructure/ithc.tfvars
  infrastructure/prod.tfvars
  infrastructure/sbox.tfvars
  infrastructure/stg.tfvars
  infrastructure/test.tfvars
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-75
