Repository hmcts/hmi-apim-infrastructures, pull requests merged in 2023-09, with the labels that each got.

#30 HMIS-1252 VH Smoke Tests
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/vh/HealthCheckSmokeTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-30

#31 HMIS-1258 Migrate eLinks endpoints
  config/owasp/suppressions.xml
  infrastructure/api-management-policy-file-reader.tf
  infrastructure/data.tf
  infrastructure/resources/policy-files/eLinks/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-31

#32 HMIS-1260 Add health check endpoint for eLinks
  infrastructure/resources/policy-files/eLinks/api-op-elinks-health-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-32

#33 HMIS-1206 Add smoke test for eLink Api
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/people/HealthCheckSmokeTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-33

#36 HMIS-1259 Add functional tests for eLinks Api
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/helper/RestClientHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/people/PeopleTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-36

#44 Health check endpoints
  infrastructure/api-management-policy-file-reader.tf
  infrastructure/data.tf
  infrastructure/resources/policy-files/CFT/api-op-hmc-health-policy.xml
  infrastructure/resources/policy-files/Crime/api-op-crime-health-policy.xml
  infrastructure/resources/policy-files/SNL/api-op-snl-health-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: destroy, ns:hmi, prd:hmi, rel:hmi-apim-pr-44

#37 HMIS-1251 VH functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/helper/FileHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/helper/RestClientHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/pip/PostPublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteParticipantTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetGroupIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsByUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchCancelVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
  src/functionalTest/resources/vh/create-vh-hearing.json
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-37

#46 HMIS-1270 CFT Migration Part 1
  infrastructure/resources/policy-files/CFT/api-op-create-linked-hearing-group-policy.xml
  infrastructure/resources/policy-files/CFT/api-op-delete-hearing-policy.xml
  infrastructure/resources/policy-files/CFT/api-op-delete-linked-hearing-group-policy.xml
  infrastructure/resources/policy-files/CFT/api-op-request-direct-hearing-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-46

#47 HMIS-1271 Migrate CFT Endpoints Part 2
  infrastructure/resources/policy-files/CFT/api-op-get-reservations-policy.xml
  infrastructure/resources/policy-files/CFT/api-op-request-hearing-policy.xml
  infrastructure/resources/policy-files/CFT/api-op-update-linked-hearing-group-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-47

#48 HMIS-1267 Smoke Test for CFT
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/cft/HealthCheckSmokeTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-48

#49 HMIS-1288 Functional tests for CFT endpoints part 1
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/DirectHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/DeleteHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/helper/RestClientHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/CreateLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/DeleteLinkHearingGroupTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-49

#52 Updated crime cert in policy file
  infrastructure/resources/policy-files/Crime/api-op-crime-health-policy.xml
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-52

#53 HMIS-1275 Smoke tests
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/crime/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/la/HealthCheckSmokeTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-53

#54 HMIS-1272 Endpoint migration part 3
  infrastructure/resources/policy-files/DirectListing/api-op-request-direct-listing-policy.xml
  infrastructure/resources/policy-files/Hearings/api-op-delete-hearing-policy.xml
  infrastructure/resources/policy-files/Hearings/api-op-request-hearing-policy.xml
  infrastructure/resources/policy-files/Hearings/api-op-update-hearing-policy.xml
  infrastructure/resources/policy-files/Schedule/api-op-create-hearing-sched-policy.xml
  infrastructure/resources/policy-files/Sessions/api-op-get-sessions-policy.xml
  infrastructure/resources/policy-files/policies.json
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-54
