Repository hmcts/hmi-apim-infrastructures, pull requests merged in 2024-03, with the labels that each got.

#83 HMI-1332 - Insights Permissions
  infrastructure/api-management-logger-permission.tf
  infrastructure/data.tf
Labels: add-or-update, ns:hmi, prd:hmi, rel:hmi-apim-pr-83

#84 Fix functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/HearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/pip/PostPublicationTest.java
  src/functionalTest/resources/hearings/update-hearing-request-payload.json
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-84

#85 Fix Video Hearing Functional Test
  src/functionalTest/resources/vh/create-vh-hearing.json
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-85

#88 Functional test for DLRM
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/helper/HeaderHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/sessions/GetSessionsTest.java
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-88
