Repository hmcts/hmi-apim-infrastructures, pull requests merged in 2024-11, with the labels that each got.

#136 PUB-2645 Remove hardcoded test url
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/PostDirectListingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/direct/PutDirectHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/DeleteHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/HearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/hearings/PutHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/people/PeopleTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/pip/PostPublicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/reservations/GetReservationsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/DeleteLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/PostLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/resources/PutLinkHearingGroupTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/schedules/PostScheduleTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/sessions/GetSessionsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteParticipantTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/DeleteVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetGroupIdTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsByUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchCancelVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostJohVideoHearingTest.java
  src/functionalTest/resources/application-functional.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/cft/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/crime/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/internal/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/la/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/people/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/pip/HealthCheckSmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/hmi/vh/HealthCheckSmokeTest.java
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:hmi, prd:hmi, rel:hmi-apim-pr-136

#141 PUB-2649 - Dependencies - Demo
  .terraform-version
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/providers.tf
Labels: ns:hmi, prd:hmi, stg/add-or-update, demo/no-changes, rel:hmi-apim-pr-141

#139 PUB-2649 - Update Dependencies
  .terraform-version
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/providers.tf
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsTest.java
Labels: ns:hmi, prd:hmi, stg/no-changes, prod/no-changes, rel:hmi-apim-pr-139

#153 PUB-2680 Fix Video Hearing Functional Tests
  infrastructure/resources/policy-files/Video-Hearing/api-op-retrieve-vh-by-user-policy.xml
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/GetRetrieveVideoHearingsByUserTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
  src/functionalTest/resources/vh/create-vh-hearing.json
Labels: ns:hmi, prd:hmi, stg/add-or-update, prod/add-or-update, rel:hmi-apim-pr-153
