Repository hmcts/hmi-apim-infrastructures, pull requests merged in 2025-01, with the labels that each got.

#158 PUB-2687 Video Hearing Policy Fragments
  infrastructure/api-management-policy-file-reader.tf
  infrastructure/api-management-policy-fragment.tf
  infrastructure/resources/policy-files/Video-Hearing/api-op-add-participant-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-create-vh-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-delete-participant-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-delete-vh-by-id-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-edit-participant-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-retrieve-vh-by-id-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-retrieve-vh-by-user-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-update-vh-by-id-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-add-joh-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-cancel-hearing-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-clone-hearing-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-delete-joh-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-edit-joh-policy.xml
  infrastructure/resources/policy-files/Video-Hearing/api-op-vh-groupid-hearing-policy.xml
  infrastructure/resources/policy-fragments/failed-destination-authentication-response-fragment.xml
  infrastructure/resources/policy-fragments/invalid-destination-response-fragment.xml
  infrastructure/resources/policy-fragments/mock-generic-response-fragment.xml
  infrastructure/resources/policy-fragments/vh-auth-token-generation-fragment.xml
  infrastructure/resources/policy-fragments/vh-get-api-version-fragment.xml
Labels: ns:hmi, prd:hmi, stg/add-or-update, test/add-or-update, rel:hmi-apim-pr-158

#173 PUB-2724 Monthly Dependencies
  .terraform-version
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/providers.tf
Labels: ns:hmi, prd:hmi, stg/no-changes, prod/no-changes

#171 PUB-2687 Video Hearing Policy Fragments
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PatchParticipantTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostCloneVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PostJohVideoHearingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmi/vh/PutVideoHearingTest.java
  src/functionalTest/resources/vh/create-participant.json
Labels: ns:hmi, prd:hmi, stg/add-or-update, prod/add-or-update

#174 PUB-2724 Monthly Dependencies
  .terraform-version
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/providers.tf
Labels: ns:hmi, prd:hmi, stg/no-changes, prod/no-changes

#179 PUB-2686 - Implement policy fragments to eLinks endpoints
  infrastructure/api-management-policy-fragment.tf
  infrastructure/resources/policy-files/eLinks/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/demo/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/demo/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/demo/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/dev/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/dev/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/dev/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/ithc/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/ithc/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/ithc/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/sbox/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/sbox/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/sbox/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/stg/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/stg/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/stg/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/test/api-op-get-people-by-id-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/test/api-op-get-people-by-params-elinks-policy.xml
  infrastructure/resources/policy-files/eLinks/test/api-op-update-people-elinks-policy.xml
  infrastructure/resources/policy-fragments/elinks-auth-token-fragment.xml
  infrastructure/resources/policy-fragments/elinks-auth-token-generation-fragment.xml
  infrastructure/resources/policy-fragments/elinks-mock-multi-person-response-fragment.xml
  infrastructure/resources/policy-fragments/elinks-mock-person-response-fragment.xml
  infrastructure/resources/policy-fragments/invalid-query-parameters-response-fragment.xml
  infrastructure/resources/policy-fragments/missing-mandatory-updated-since-response-fragment.xml
Labels: ns:hmi, prd:hmi, stg/add-or-update, prod/add-or-update, rel:hmi-apim-pr-179
